<div class="content-container">
    <div class=" flex flex-col justify-center xl:w-[60%] lg:w-[60%] md:w-[60%] sm:w-[80%] xs:w-[80%]">
        <mat-tab-group dynamicHeight>
            <mat-tab label="Round Trip">
                <form #f="ngForm" class="pb-6">
                    <div class="flex flex-col">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button primary value="Personal">Personal</mat-radio-button>
                            <mat-radio-button primary value="Business">Business</mat-radio-button>
                        </mat-radio-group>
                        <p class="font-bold">From</p>
                        <mat-form-field>
                            <mat-label>From</mat-label>
                            <mat-select [(ngModel)]="selectedSource" name="from">
                                <ng-container *ngFor="let food of sources">
                                    <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <p class="font-bold">To</p>
                        <mat-form-field>
                            <mat-label>To</mat-label>
                            <mat-select [(ngModel)]="selectedDestination" name="to">
                                <ng-container *ngFor="let food of destinations">
                                    <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <div class="flex justify-between">
                            <div class="w-[49%]">
                                <p class="font-bold">Departure</p>
                                <mat-form-field class="w-full">
                                    <mat-label>Departure</mat-label>
                                    <input required matInput [matDatepicker]="departure">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="departure"></mat-datepicker-toggle>
                                    <mat-datepicker #departure>
                                        <mat-datepicker-actions>
                                            <button mat-button matDatepickerCancel>Cancel</button>
                                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                        </mat-datepicker-actions>
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="w-[49%]">
                                <p class="font-bold">Destination</p>
                                <mat-form-field class="w-full">
                                    <mat-label>Destination</mat-label>
                                    <input required  matInput [matDatepicker]="Destination">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="Destination"></mat-datepicker-toggle>
                                    <mat-datepicker #Destination>
                                        <mat-datepicker-actions>
                                            <button mat-button matDatepickerCancel>Cancel</button>
                                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                        </mat-datepicker-actions>
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-wrap w-full gap-2 justify-between">
                            <div class="selectable-chip" *ngFor="let option of options"
                                [class.selected]="option.selected" (click)="toggleSelection(option)">
                                <mat-icon>{{ option.icon }}</mat-icon>
                                <span>{{ option.label }}</span>
                            </div>
                        </div>

                    </div>
                </form>
                <app-button [label]="'Search'" class="w-full pt-2" (click)="search()">
                </app-button>
            </mat-tab>
            <mat-tab label="One Way">
                <div class="example-large-box mat-elevation-z4">
                    Large content
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>