<div class="flex justify-between w-full h-16 ring-2 ring-border-500 fixed z-10 bottom-0 bg-white ">
    <div class="bottom-menu" routerLinkActive="active-bottom-menu" [routerLink]="['/logged/home']">
        <mat-icon fontIcon="home">Home</mat-icon>
        <p>Home</p>
    </div>
    <div class="bottom-menu" routerLinkActive="active-bottom-menu" [routerLink]="['/logged/book']">
        <mat-icon fontIcon="date_range">date_range</mat-icon>
        <p>Book</p>
    </div>
    <div class="bottom-menu" routerLinkActive="active-bottom-menu" [routerLink]="['/logged/settings']">
        <mat-icon fontIcon="settings">settings</mat-icon>
        <p>Settings</p>
    </div>
    <div class="bottom-menu" routerLinkActive="active-bottom-menu" [routerLink]="['/logged/profile']">
        <mat-icon fontIcon="person">person</mat-icon>
        <p>Profile</p>
    </div>
</div>